@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/Roboto-Regular-webfont.woff2);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/Roboto-Bold-webfont.woff2);
    font-weight: bold;
}

:root {
    --board-size: 0.85;
    --hole-size: calc(var(--board-size) / 8 / 1.2);
    /* --green: #214f11; */
    --green: #3a8664;
    --half: 50%;
}

body{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    transition: opacity 2s ease;
    opacity: 0;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 27.9vw;
    margin-top: 0px;
    color: darkslategray;
}

.board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 1px;
    border: 10px solid darkslategray;
    border-radius: 7px;
    gap: 1px 1px;
    background-color: darkslategray;
    width: calc(var(--board-size) - 1px);
    height: calc(var(--board-size) - 1px);
    margin: auto;
    margin-top: -20px;
}

.square{
    display: grid;
    justify-content: center;
    align-content: center;
    background: var(--green);
    /* filter: brightness(150%); */
}

.square:hover{
    cursor: pointer;
}  

.disk{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    background:  var(--green);
    height: var(--hole-size);
    width: var(--hole-size);
    border-radius: 50%;
    opacity: 0;
    /* transition: opacity 0.6s linear; */


    /* transition: opacity 0.8s linear; */
}

@keyframes dis {
    33% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis1 {
    33% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis2 {
    50% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis3 {
    60% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis4 {
    67% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis5 {
    71% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis6 {
    75% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis7 {
    78% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis8 {
    80% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis9 {
    82% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@keyframes dis10 {
    83% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

/* .disappear {
    animation: dis 1.5s 1 linear forwards;
}

.disappear2 {
    animation: dis 1.5s 1 linear forwards;
} */

 .black{
    color: white;
    background: black;
    /* opacity: 0; */
    transition: opacity 0.6s linear;

}

.white{
    color: black;
    background: white;
    transition: opacity 0.6s linear;

    /* opacity: 0; */
}

.black-move{
    box-sizing: border-box;
    background:  var(--green);
    /* background:  darkslategray; */

    /* background:  white; */
    /* border: calc(var(--hole-size) / 2.5) solid black; */

    border: calc(var(--hole-size) / 2.2) solid black;

    border: calc(var(--hole-size) / 2) solid black;



}

.white-move{
    box-sizing: border-box;
    /* background: var(--green); */
    background:  darkslategray;

    /* background:  black; */

    /* border: calc(var(--hole-size) / 2.5) solid white; */

    border: calc(var(--hole-size) / 2.2) solid white;

    border: calc(var(--hole-size) / 2) solid white;


    transition: background-color 1s linear;
}

/* .black-move{
    box-sizing: border-box;
    background: black;
    border: 1px solid darkred;

}

.white-move{
    box-sizing: border-box;
    background: white;
    border: 1px solid darkred;
} */

/* .gray{
    background: gray;
    height: calc(var(--hole-size) / 3);
    width: calc(var(--hole-size) / 3);
} */

.gray{
    box-sizing: border-box;
    background: darkslategray;
    /* background: black; */

    border: calc(var(--hole-size) / 2.5) solid  var(--green);
    transition: opacity 0.4s linear;
    opacity: 1;
}

.gray-b{
    box-sizing: border-box;
    background: darkslategray;
    /* background: black; */

    border: calc(var(--hole-size) / 2.5) solid var(--green);
    transition: opacity 0.5s linear;
    opacity: 1;
}

.gray-w{
    box-sizing: border-box;
    background: silver;
    /* background: white; */

    border: calc(var(--hole-size) / 2.5) solid var(--green);
    transition: opacity 0.5s linear;
    opacity: 1;
}

#designed{
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.43em; 
    margin-top: -1.3em;
    transition: opacity 0.5s linear;
}

@media (min-width: 460px) and (min-height: 460px){

    :root{
        --board-size-big: 400px;
        --hole-size-big: calc(var(--board-size-big) / 8 / 1.2);
    }

    h1{
        font-size: 8.4em;
    }
    .board{
        padding: 2px;
        border: 15px solid darkslategray;
        gap: 2px 2px;
        width: calc(var(--board-size-big) - 2px);
        height: calc(var(--board-size-big) - 2px);
    }

    .disk{
        height: var(--hole-size-big);
        width: var(--hole-size-big);    
    }

    .gray{
        border: calc(var(--hole-size-big) / 2.5) solid  var(--green);
    }

    .gray-b, .gray-w {
        border: calc(var(--hole-size-big) / 2.5) solid  var(--green);
    }

    .black-move{
        border: calc(var(--hole-size-big) / 2) solid black;
    }
    
    .white-move{
        border: calc(var(--hole-size-big) / 2) solid white;
    }
    

    #designed{
        font-size: 0.75em; 
        margin-top: -1.35em;
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
     user-select: none;
}
 