@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --board-size: 0.85;
    --disk-size: calc(var(--board-size) / 8 / 1.2);
    --green: #3a8664;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: opacity 2s ease;
    margin: 0;
    opacity: 0;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: darkslategray;
    text-align: center;
    font-size: 27.9vw;
    margin-top: -10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 10px solid darkslategray;
    background-color: darkslategray;
    width: calc(var(--board-size) - 1px);
    height: calc(var(--board-size) - 1px);
    border-radius: 7px;
    gap: 1px 1px;
    padding: 1px;
    margin: auto;
    margin-top: -15px;
}

.square {
    display: grid;
    justify-content: center;
    align-content: center;
    background: var(--green);
}

.square:hover {
    cursor: pointer;
}  

.disk {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background:  var(--green);
    height: var(--disk-size);
    width: var(--disk-size);
    border-radius: 50%;
    opacity: 0;
}

.black {
    color: white;
    background: black;
    transition: opacity 0.6s linear;
}

.white {
    color: black;
    background: white;
    transition: opacity 0.6s linear;
}

.hint-b {
    box-sizing: border-box;
    background: darkslategray;
    border: calc(var(--disk-size) / 2.5) solid var(--green);
    transition: opacity 0.5s linear;
    opacity: 1;
}

.hint-w {
    box-sizing: border-box;
    background: lightgray;
    border: calc(var(--disk-size) / 2.5) solid var(--green);
    transition: opacity 0.5s linear;
    opacity: 1;
}

#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.60em; 
    margin-top: -1.35em;
    transition: opacity 0.5s linear;
}

@keyframes inversion {
    33% {
        filter: invert(0);
    }
    100% {
        filter: invert(100%);    
    }
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
        --disk-size-big: calc(var(--board-size-big) / 8 / 1.2);
    }

    h1 {
        font-size: 8.4em;
    }

    .board {
        border: 15px solid darkslategray;
        width: calc(var(--board-size-big) - 2px);
        height: calc(var(--board-size-big) - 2px);
        padding: 2px;
        gap: 2px 2px;
        margin-top: -20px;
    }

    .disk {
        height: var(--disk-size-big);
        width: var(--disk-size-big);    
    }

    .hint-b, .hint-w {
        border: calc(var(--disk-size-big) / 2.5) solid var(--green);
    }
    
    #designed {
        font-size: 0.8em; 
        margin-top: -1.3em;
    }
}